<div class="container">
    <div class="input-group">
        <textarea class="form-control custom-control" rows=3 style="resize:none" ng-model="main.message" placeholder="Make a new post..."></textarea>
        <span class="input-group-addon btn btn-primary" ng-click="main.postMessage()">Post</span>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading text-center">Recent Posts</div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="message in main.messages">
                    <p class="text-center">{{message.msg}}</p>
                    <p>Posted by: {{message.user.username}}</p>
                    <div class="input-group hidden">
                        <textarea class="form-control custom-control" rows=3 style="resize:none" placeholder="Make a new comment...">
                        </textarea>
                        <span class="input-group-addon btn btn-primary">Post</span>
                    </div>
                    <span class="input-group-addon btn btn-primary" onclick="newComment(this)">New Comment</span>
                </li>
            </ul>
        </div>
    </div>
</div>
